[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "2.2.2"
flask-sqlalchemy = "*"
SQLAlchemy = "1.4.49"
flask-migrate = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"
werkzeug = "2.2.2"
pytest = "*"
